<div class="jumbotron about">
    <div>
        <div>
            <div class="exTab3">
                </br></br></br></br></br></br>
                <hr>
                <div class="aboutNap">
                    </br></br></br></br></br></br>
                    <h2>KSIĄŻKA SERWISOWA ONLINE</h2>
                </div>
            </div>


        </div>
    </div>
</div>

</br></br></br></br></br></br>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center services"  style=" margin-top: 30px; height: 800px;">

    <h2>SERVICES</h2>
    <h4>What we offer</h4>

    </br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-calendar logo-small"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone logo-small"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br> <br> <br> <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-sunglasses logo-small"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-shopping-cart logo-small"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>


</div>

