<div class="account backgroundT">
    <div class="container-fluid">
        <div class="row content">

            <div class="col-sm-10">

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="kokpit">
                        <h3>Kokpit</h3>
                        <div class="panel panel-primary">
                            <div class="panel-heading"></div>
                            <div class="chat-box-single-line">
                                <abbr class="timestamp">Profil użytkownika</abbr>
                            </div>

                            <div class="row">


                                <div class=" col-lg-9 col-md-8 col-sm-8">
                                    <div class="well">



                                        <table class="table table-hover " style="margin-left: 20px; width: 500px">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Marka</th>
                                                <th>Model</th>
                                                <th>Rejstracja</th>
                                                <th>Rok produkcji</th>
                                            </tr>
                                            </thead>
                                            <!--mamy petle for each-->
                                            <!--&lt;!&ndash;p.id&ndash;&gt; bo w postmanie w json gostek ma pole o nazwie id i tak samo dla imienie i nazwiska-->
                                            <tbody>
                                            <!--String marka, String model, String numerVIN, String numerRejestracyjny, Date rokProdukcji, String rodzajNadwozia, int pojemnoscSilnika, int mocSilnika, String rodzajPaliwa-->
                                            <tr ng-repeat="c in car |orderBy:'marka'">

                                                <td>{{ c.id }}</td>
                                                <td>{{ c.marka }}</td>
                                                <td>{{ c.model }}</td>
                                                <td>{{ c.numerRejestracyjny}}</td>
                                                <td >{{c.rokProdukcji | date: "yyyy-MM-dd"}}</td>
                                                <td>
                                                    <button type="button"alt="{{c.id}}"  ng-click="deleteCar(c.id)" class="btn btn-primary btn btn-danger"  data-toggle="modal"  >
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                 </td>
                                                <td>
                                                  <button type="button"alt="{{c.id}}"  ng-click="showCar(c.id)" class="btn btn-primary btn btn-inf"  data-toggle="modal" data-target="#exampleModalLong" >
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>



                                    </div>

                                </div>


                            </div>





                            <h3>Dodaj auto</h3>

                            <form>
                                <div class="form-group">
                                    <label>Marka:</label>
                                    <input id="Marka" type="text" class="form-control" name="Marka" value="Marka"
                                           placeholder="Marka" ng-model="markaAuto">
                                </div>
                                <div class="form-group">
                                    <label>Model:</label>
                                    <input id="Model" type="text" class="form-control" name="Marka" value="Model"
                                           placeholder="Model" ng-model="modelAuto">
                                </div>
                                <div class="form-group">
                                    <label>Numer VIN:</label>
                                    <input id="numerVINAuto" type="text" class="form-control" name="NumerVin" value=""
                                           placeholder="Numer VIN" ng-model="numerVinAuto">
                                </div>
                                <div class="form-group">
                                    <label>Numer rejestracyjny:</label>
                                    <input id="numerRejAuto" type="text" class="form-control" name="numerRej" value=""
                                           placeholder="Numer rejestracyjny" ng-model="numerRejAuto">
                                </div>

                                <div class="form-group">
                                    <label>Rok produkcji:</label>
                                    <input id="rokProAuto" type="text" class="form-control" name="rokProAuto" value=""
                                           placeholder="Rok produkcji " ng-model="rokProAuto">
                                </div>
                                <div class="form-group">
                                    <label>Rodzaj nadwozia:</label>
                                    <input id="rodzNadwoziaAuto" type="text" class="form-control"
                                           name="rodzNadwoziaAuto"
                                           value=""
                                           placeholder="Rodzaj nadwozia" ng-model="rodzNadwoziaAuto">
                                </div>
                                <div class="form-group">
                                    <label>Pojemność silnika:</label>
                                    <!--<input id="pojSilnikaAuto" type="number" class="form-control" name="pojSilnikaAuto"-->
                                    <!--value=""-->
                                    <!--placeholder="Pojemność silnika" ng-model="pojSilnikaAuto">-->

                                    <input type="text" string-to-number ng-model="pojSilnika" /> {{ pojSilnika }} : {{ typeOf(pojSilnika) }}
                                </div>
                                <div class="form-group">
                                    <label>Moc silnika:</label>
                                    <input id="mocAuto" type="number" class="form-control" name="mocAuto" value=""
                                           placeholder=" Moc silnika" ng-model="mocAuto">
                                </div>
                                <div class="form-group">
                                    <label>Rodzaj paliwa:</label>
                                    <input id="rodzPaliwAuto" type="text" class="form-control" name="rodzajPaliwa"
                                           value=""
                                           placeholder="Rodzaj Paliwa" ng-model="rodzajPaliwAuto">


                                </div>

                                <button id="submit" type="submit" class="btn btn-default" ng-click="saveAuto()">Dodaj
                                    Auto
                                </button>
                            </form>
                        </div>
                    </div>
                    <!--<div class="tab-pane " id="dodajAuto">-->


                    <!--<table class="table table-hover " style="margin-left: 20px; width: 500px" ng-controller="AutoController">-->
                    <!--<thead>-->
                    <!--<tr>-->
                    <!--<th>Id</th>-->
                    <!--<th>Marka</th>-->
                    <!--<th>Model</th>-->
                    <!--<th>Rejstracja</th>-->
                    <!--<th>Rok produkcji</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--&lt;!&ndash;mamy petle for each&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;p.id&ndash;&gt; bo w postmanie w json gostek ma pole o nazwie id i tak samo dla imienie i nazwiska&ndash;&gt;-->
                    <!--<tbody>-->
                    <!--&lt;!&ndash;String marka, String model, String numerVIN, String numerRejestracyjny, Date rokProdukcji, String rodzajNadwozia, int pojemnoscSilnika, int mocSilnika, String rodzajPaliwa&ndash;&gt;-->
                    <!--<tr ng-repeat="c in car |orderBy:'marka'">-->

                    <!--<td>{{ c.id }}</td>-->
                    <!--<td>{{ c.marka }}</td>-->
                    <!--<td>{{ c.model }}</td>-->
                    <!--<td>{{ c.numerRejestracyjny}}</td>-->
                    <!--<td >{{c.rokProdukcji | date: "yyyy-MM-dd"}}</td>-->
                    <!--<td><a href="" class="btn btn-danger"-->
                    <!--ng-click="deleteCar(c.id)">-->
                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                    <!--</a></td>-->
                    <!--<td>-->
                    <!--&lt;!&ndash;<a href="" class="btn btn-info "&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-click="editCar(c.id)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="glyphicon glyphicon-edit"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->

                    <!--<button type="button"alt="{{c.id}}"  ng-click="showCar(c.id)" class="btn btn-primary btn btn-inf"  data-toggle="modal" data-target="#exampleModalLong" >-->
                    <!--<span class="glyphicon glyphicon-edit"></span>-->
                    <!--</button>-->

                    <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                    <!--</table>-->


                    <!--</div>-->


                    <div class="col-sm-12">


                    </div>

                </div>
            </div>
        </div>


        <!-- Edycja auta -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edytuj</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label>Id:</label>
                                <input id="idE" type="text" class="form-control" name="idAutoE" value="IdAutoE"
                                       placeholder="id" ng-model="idAutoE">
                            </div>
                            <div class="form-group">
                                <label>Marka:</label>
                                <input id="MarkaE" type="text" class="form-control" name="MarkaE" value="MarkaE"
                                       placeholder="Marka" ng-model="markaAutoE">
                            </div>
                            <div class="form-group">
                                <label>Model:</label>
                                <input id="ModelE" type="text" class="form-control" name="MarkaE" value="ModelE"
                                       placeholder="Model" ng-model="modelAutoE">
                            </div>
                            <div class="form-group">
                                <label>Numer VIN:</label>
                                <input id="numerVinE" type="text" class="form-control" name="NumerVinE"
                                       value="numerVinE"
                                       placeholder="Numer VIN" ng-model="numerVinE">
                            </div>
                            <div class="form-group">
                                <label>Numer rejestracyjny:</label>
                                <input id="numerRejE" type="text" class="form-control" name="numerRejE"
                                       value="numerRejE"
                                       placeholder="Numer rejestracyjny" ng-model="numerRejE">
                            </div>

                            <div class="form-group">
                                <label>Rok produkcji:</label>
                                <input id="rokProE" type="data" class="form-control" name="rokProE"
                                       value="rokProdukcjE"
                                       placeholder="Rok produkcji " ng-model="rokProE">
                            </div>
                            <div class="form-group">
                                <label>Rodzaj nadwozia:</label>
                                <input id="rodzNadwoziaE" type="text" class="form-control"
                                       name="rodzNadwoziaE"
                                       value="rodzNadwoziaAutoE"
                                       placeholder="Rodzaj nadwozia" ng-model="rodzNadwoziaE">
                            </div>
                            <div class="form-group">
                                <label>Pojemność silnika:</label>
                                <!--<input id="pojSilnikaAutoE" type="text" class="form-control" name="pojSilnikaAuto"-->
                                <!--value="pojSilnikaAuto"-->
                                <!--placeholder="Pojemność silnika" ng-model="pojSilnikaAuto">-->

                                <input id="pojSilnikaE" type="text" class="form-control" name="pojSilnikaE" value="pojSilnikaE" string-to-number ng-model="pojSilnikaE"/> {{ pojSilnikaE }}
                                : {{ typeOf(pojSilnikaAutoE) }}

                            </div>
                            <div class="form-group">
                                <label>Moc silnika:</label>
                                <input id="mocAutoE" type="text" class="form-control" name="mocAutoE" value="mocAutoE"
                                       placeholder=" Moc silnika" ng-model="mocAutoE">
                            </div>
                            <div class="form-group">
                                <label>Rodzaj paliwa:</label>
                                <input id="rodzPaliE" type="text" class="form-control" name="rodzajPaliE"
                                       value="rodzjaPaliE"
                                       placeholder="Rodzaj Paliwa" ng-model="rodzajPaliE">


                            </div>

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-primary" ng-click="editCar()">Zapisz zmiany</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
