<div class="account backgroundT" xmlns:date="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="row content">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="button" ng-click="setEdit(false)"
                            class="btn btn-info btn-lg btn-block" data-toggle="modal"
                            data-target="#addCar">
                        <p style="font-size: 30px"> Dodaj auto</p>
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                    <br>
                </div>
                <div class=" col-lg-8 col-md-10 col-sm-8 col-md-offset-1 col-lg-offset-2 col-sm-offset-2" align="left">
                    <div class="col-md-4" ng-repeat="c in me.auto |orderBy:'marka'">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 align="center">
                                    {{ c.marka }} {{ c.model }}
                                </h5>
                            </div>
                            <div class="panel-body">
                                <img class="img-rounded center-block"
                                     ng-src="data:image/JPEG;base64,{{c.image}}"
                                     style=" max-height: 20%; width: 90%;">
                                <br/>
                                <div class="col-md-12" style="text-align: center">
                                    <h5 style="text-transform: uppercase">
                                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                        {{c.numerRejestracyjny}}
                                    </h5>
                                    <h5 style=" text-transform: uppercase"> VIN: {{c.numerVIN}} </h5>

                                    <h5><span class="glyphicon glyphicon-calendar"></span>
                                        {{c.rokProdukcji | date:"yyyy"}}</h5>
                                    <h6 style="color: white">&#9981; {{c.rodzajPaliwa}}</h6>
                                    <h6>
                                         <i class="fa fa-fire" aria-hidden="true"></i>
                                        {{c.mocSilnika}} KM
                                    </h6>

                                    <h6 align="right"><p class="h6">
                                        <span class="glyphicon glyphicon-dashboard"></span>
                                        {{c.pojemnoscSilnika}} cm<sup>3</sup></p>
                                    </h6>

                                    <button type="button" alt="{{c.id}}" ng-click="deleteCar(c.id)"
                                            class="btn btn-primary btn btn-danger"
                                            data-toggle="modal">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    </td>
                                    <td>
                                        <button type="button" alt="{{c.id}}"
                                                ng-click="showCar(c.id)"
                                                class="btn btn-primary btn btn-inf"
                                                data-toggle="modal"
                                                data-target="#exampleModalLong">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edycja auta -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edytuj</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form name="myForm" novalidate>
                    <img class="img-rounded center-block"
                         ng-src="data:image/JPEG;base64,{{imageE}}"
                         style=" height: 130px; width: 180px;">
                    <div>
                        <input type="file" id="file" class="btn-success"/>
                        <button id="confirmBtnImg" class="btn-success" ng-click="addImage()">Potwierdź</button>
                    </div>
                    <div class="form-group">
                        <label>Marka:</label>
                        <input id="MarkaE" type="text" class="form-control" name="MarkaE" value="MarkaE"
                               placeholder="Marka" ng-model="markaE">
                    </div>
                    <div class="form-group">
                        <label>Model:</label>
                        <input id="ModelE" type="text" class="form-control" name="MarkaE" value="ModelE"
                               placeholder="Model" ng-model="modelE">
                    </div>
                    <div class="form-group">
                        <label>Numer VIN:</label>
                        <input style="text-transform: uppercase" id="numerVinE" type="text" class="form-control"
                               name="NumerVinE"
                               value="numerVinE" maxLength="17"
                               placeholder="WVW ZZZ1KZ 4W135988" ng-model="numerVinE" class="help-block"
                               data-toggle="tooltip"
                               data-placement="top"
                               title=" Numer VIN nie może zawierać znaków I, O, Q">
                    </div>
                    <div class="form-group">
                        <label>Numer rejestracyjny:</label>
                        <input id="numerRejE" type="text" class="form-control" name="numerRejE"
                               value="numerRejE"
                               placeholder="Numer rejestracyjny" ng-model="numerRejE">
                    </div>
                    <label>Rok produkcji:</label>
                    <select class="form-control btn-default" ng-model="rokProE" style="" ng-init="rokProE = years[0]">
                        <option ng-repeat="y in years " value="{{y}}">{{y}}</option>
                    </select>
                    <div class="form-group">
                        <label>Rodzaj nadwozia:</label>
                        <select class="form-control btn-default" ng-model="rodzNadwoziaE"
                                ng-init="rodzNadwoziaE = body_types[0]">
                            <option ng-repeat="b in body_types " value="{{b}}">{{b}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Pojemność silnika [cm<sup>3</sup>]:</label>
                        <!--<input id="pojSilnikE" type="number" class="form-control" name="pojSilnikaE"-->
                               <!--value="pojSilnikaE"-->
                               <!--placeholder=" Pojemność silnika" ng-model="pojSilnikaE">-->
                        <div class=col-md-10>
                            <input type="range" min="600" max="5000" ng-model="cap.capacityAuto" />
                        </div>
                        <div class=clo-md-2>
                            <p ng-model="cap.capacityAuto" >{{cap.capacityAuto}}</p>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Moc silnika [KM]:</label>
                        <div class=col-md-10>
                            <input type="range" min="4" max="700" ng-model="qty.mocAuto" />
                        </div>
                        <div class=clo-md-2>
                            <p ng-model="qty.mocAuto" >{{qty.mocAuto}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Rodzaj paliwa:</label>
                        <select class="form-control btn-default" ng-model="rodzajPaliE" style="" ng-init="rodzajPaliE = fuel_types[0]">
                            <option ng-repeat="f in fuel_types " value="{{f}}">{{f}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-success sendButton" ng-click="editCar()">
                    Zapisz zmiany
                </button>
            </div>
        </div>
    </div>
</div>

<!--Dodawanie auta-->
<div class="modal fade" id="addCar" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="document.getElementById('delPhoto').click()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 align="center">Dodaj auto</h3>
                <form class="row">
                    <br/>
                    <legend><i>Dodaj zdjęcie auta</i></legend>
                    <div class="row" align="center">
                        <div class="form-group col-sm-4 col-sm-offset-4">
                            <div class="img-picker" align="center"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Marka:</label>
                        <input id="markaAuto" type="text" class="form-control" maxLength="20" name="Marka" value="Marka"
                               placeholder="Marka" ng-model="markaAuto">
                    </div>
                    <div class="form-group">
                        <label>Model:</label>
                        <input id="modelAuto" type="text" class="form-control" maxLength="20" name="modelAuto"
                               value="Model"
                               placeholder="Model" ng-model="modelAuto">
                    </div>
                    <div class="form-group ">
                        <label>Numer VIN:</label>
                        <input id="numerVINAuto" type="text" class="form-control" maxLength="17"
                               style=" text-transform: uppercase"
                               name="NumerVinAuto" value=""
                               placeholder="WVWZZZ1KZ4W135988" ng-model="numerVinAuto" class="help-block"
                               data-toggle="tooltip"
                               data-placement="top"
                               title=" Numer VIN nie może zawieać znaków IQO!"></div>
                    <div class="form-group">
                        <label>Numer rejestracyjny:</label>
                        <input id="numerRejAuto" type="text" class="form-control" maxLength="8" name="numerRej" value=""
                               style=" text-transform: uppercase"
                               placeholder="Numer rejestracyjny" ng-model="numerRejAuto">
                    </div>
                    <label>Rok produkcji:</label>
                    <select class="form-control btn-default" ng-model="rokProAuto" style=""
                            ng-init="rokProAuto = years[0]">
                        <option ng-repeat="y in years " value="{{y}}">{{y}}</option>
                    </select>
                    <div class="form-group">
                        <label>Rodzaj nadwozia:</label>
                        <select class="form-control btn-default" ng-model="rodzNadwoziaAuto"
                                ng-init="rodzNadwoziaAuto = body_types[0]">
                            <option ng-repeat="b in body_types " value="{{b}}">{{b}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Pojemność silnika [cm<sup>3</sup>]:</label>
                        <div class=col-md-10>
                            <input type="range" min="600" max="5000" ng-model="cap.capacityAuto" />
                        </div>
                        <div class=clo-md-2>
                            <p ng-model="cap.capacityAuto" >{{cap.capacityAuto}}</p>
                    </div>
                    <div class="form-group">
                        <label>Moc silnika [KM]:</label>
                        <!--<input id="mocAuto" type="range" class="form-control"  min="20" max="2000" name="mocAuto"-->
                               <!--placeholder=" Moc silnika" ng-model="mocAuto">-->
                        <div class=col-md-10>
                            <input type="range" min="4" max="700" ng-model="qty.mocAuto" />
                        </div>
                        <div class=clo-md-2>
                            <p ng-model="qty.mocAuto" >{{qty.mocAuto}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Rodzaj paliwa:</label>
                        <select class="form-control btn-default" ng-model="rodzajPaliwAuto" style="" ng-init="rodzajPaliwAuto = fuel_types[0]">
                            <option ng-repeat="f in fuel_types " value="{{f}}">{{f}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                        onclick="document.getElementById('delPhoto').click()">Zamknij
                </button>

                <button id="submit" type="submit" class="btn btn-success addCar" ng-click="saveAuto()">
                    Dodaj Auto
                </button>
            </div>
        </div>
    </div>
</div>


</div>