<div  class="jumbotron about">
    <div>
        <div>
            <div class="exTab3" >
                </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                </br></br></br></br>
                </br></br></br></br>
                </br></br></br></br>


                <div class="tab-content clearfix">
                    <form>

                        <div class="tab-pane active" id="logowanie">
                            <div>
                                <div class="input-group col-md-4">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="emailLog" type="email" class="form-control" name="email" value="" placeholder="Email">
                                </div>
                            </div>

                            <div>
                                <div class="input-group col-md-4">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="passwordLog" type="password" class="form-control" name="password" value="" placeholder="Hasło">
                                </div>
                            </div>

                            <div class="input-group col-md-4">
                                <button  id="zaloguj" type="submit"class="btn btn-primary">Zaloguj się</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

</br></br></br></br></br></br>


<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center" style="height: 800px;">
    </br></br></br></br></br></br>
    <h2>SERVICES</h2>
    <h4>What we offer</h4>

    </br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-calendar logo-small"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone logo-small"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br> <br> <br> <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-sunglasses logo-small"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-shopping-cart logo-small"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>



</div>

