<div class="jumbotron about">
    <div>
        <div>
            <div class="exTab3">
                <div class="tab-content clearfix">
                    <form>
                        <div class=" col-sm-offset-4 col-sm-10 tab-pane active ex2" id="logowanie">
                            <div ng-class="{'has-error is-focused' : authenticationError}">
                                <div class="input-group col-sm-4">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>
                                    <input id="login" ng-model="username" type="text" minlength="3" class="form-control"
                                           required="required" placeholder="login"/>
                                    <span ng-show="authenticationError" class="help-block" >Please check your credentials and try again.</span>
                                </div>
                            </div>
                            <div class="input-group col-sm-4">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" ng-model="password" type="password" minlength="5" class="form-control"
                                       required="required" placeholder="password" />
                            </div>
                            <div class="input-group col-sm-4">
                                <button  id="submit" type="submit" class="btn btn-block btn-default" ng-click="login()">Zaloguj się</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</br></br></br></br></br></br>


<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center" style=" margin-top: 100px; height: auto; margin-bottom: 300px">
    </br></br></br></br></br></br>
    <h2>SERVICES</h2>
    <h4>What we offer</h4>

    </br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-calendar logo-small"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone logo-small"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br> <br> <br> <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-sunglasses logo-small"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-shopping-cart logo-small"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>


</div>

