<div class="account backgroundT">
    <div class="container-fluid">
        <div class=" content row">


            <div class="col-sm-12 jumbotron">
                <div class=" col-lg-8 col-md-10 col-sm-8 col-md-offset-1 col-lg-offset-2 col-sm-offset-2" align="left">
                    <div class="col-md-6" ng-repeat="c in myCar.auto |orderBy:'marka'">
                        <div class="panel panel-dangerl-">
                            <div class="panel-heading">
                                <h5 align="center">
                                    {{ c.marka }} {{ c.model }}
                                </h5>
                            </div>
                            <div class="panel-body">
                                <img class="img-rounded center-block"
                                     ng-src="data:image/JPEG;base64,{{c.image}}"
                                     style=" max-height: 20%; width: 90%;">
                                <br/>
                                <div style="margin-left: 30px" ng-if="c.polisa[0]">
                                    <h5>
                                        Numer polisy: <b> {{ c.polisa[0].numerPolisy }}</b></h5>
                                    <h5>
                                        Data od: <b> {{ c.polisa[0].dataOd | date: "yyyy-MM-dd" }}</b>
                                    </h5>
                                    <h5>
                                        Data do: <b> {{ c.polisa[0].dataDo | date: "yyyy-MM-dd"}}</b>
                                    </h5>

                                    <h5> Składka: <b>{{ c.polisa[0].skladka}} zł</b></h5>
                                </div>


                                <button ng-if="!c.polisa[0]" alt="c.id" type="button" ng-click="setEdit(false); getCarId(c.id)"
                                        class="btn btn-danger  btn-block" data-toggle="modal"
                                        data-target="#AddNewPolice">
                                   Dodaj polisę
                                </button>




                                <button type="button"  ng-if="c.polisa[0]" alt="{{c.polisa[0].id}}" ng-click="showPolicy(c.polisa[0].id)"
                                        class="btn btn-primary btn-block" data-toggle="modal"
                                        data-target="#exampleModalLong">
                                    Edytuj polisę
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h3>Edytuj Polise</h3>

                <form>

                    <!--<div class="form-group">-->
                    <!--<label>Id:</label>-->
                    <!--<input id="IdE" type="text" class="form-control" name="IdE" value=""-->
                    <!--placeholder="IdE" ng-model="IdE">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label>Data:</label>
                        <input id="DataDodaniaE" type="date" class="form-control" name="DataDodaniaE" value=""
                               placeholder="DataDodaniaE" ng-model="DataDodaniaE">
                    </div>

                    <div class="form-group">
                        <label>Numer Polisy:</label>
                        <input id="NumerPolisyE" type="text" class="form-control" name="NumerPolisyE" value=""
                               placeholder="NumerPolisy" ng-model="NumerPolisyE">
                    </div>
                    <div class="form-group">
                        <label>data od:</label>
                        <input id="DataOdE" type="date" class="form-control" name="DataOdE" value=""
                               placeholder="DataOdE" ng-model="DataOdE">
                    </div>
                    <div class="form-group">
                        <label>data do:</label>
                        <input id="DataDoE" type="date" class="form-control" name="DataDoE" value=""
                               placeholder="DataDoE" ng-model="DataDoE">
                    </div>

                    <div class="form-group">
                        <label>Składka:</label>
                        <input id="SkladkaE" type="number" class="form-control" name="SkladkaE" value=""
                               placeholder="SkladkaE" ng-model="SkladkaE">
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-success" ng-click="editPolicy()">Zapisz zmiany</button>
            </div>
        </div>
    </div>
</div>

<!--dodawanie polisy-->
<div class="modal fade" id="AddNewPolice" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLong" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h3>Dodaj Polise</h3>
                <form>
                    <div class="row">
                        <div class="form-group col-md-12">

                        </div>

                        <div class="form-group col-md-12">
                            <label>Numer Polisy:</label>
                            <input id="NumerPolisy" type="text" class="form-control" name="NumerPolisy" maxLength="12"
                                   value=""
                                   placeholder="NumerPolisy" ng-model="NumerPolisy">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Data:</label>
                            <input id="DataDodania" type="date" class="form-control" name="DataDodania" value=""
                                   placeholder="DataDodania" ng-model="DataDodania">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Składka:</label>
                            <input id="Skladka" type="number" class="form-control" name="Skladka" value=""
                                   placeholder="Skladka" ng-model="Skladka">
                        </div>

                        <div class="form-group col-md-12">
                            <label>data od:</label>
                            <input id="DataOd" type="date" class="form-control" name="DataOd" value=""
                                   placeholder="DataOd" ng-model="DataOd">
                        </div>
                        <div class="form-group col-md-12">
                            <label> do:</label>
                            <input id="DataDo" type="date" class="form-control" name="DataDo" value=""
                                   placeholder="DataDo" ng-model="DataDo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                <button id="submitsave" type="submit" class="btn btn-success " ng-click="savePolicy(c.id)">
                    Dodaj
                    Polise
                </button>
            </div>
        </div>
    </div>
</div>
