<div class="account backgroundT" xmlns:date="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="row content">

            <div class="col-sm-10">

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="kokpit">
                        <h3>Kokpit</h3>
                        <div class="panel panel-primary">
                            <div class="panel-heading"></div>
                            <div class="chat-box-single-line">
                                <abbr class="timestamp">Twoje Pojazdy</abbr>
                            </div>

                            <div class="row">


                                <div class=" col-lg-9 col-md-8 col-sm-8">
                                    <div class="well">



                                        <table class="table table-hover " style="margin-left: 20px; width: 500px">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Numer polisy</th>
                                                <th>data od</th>
                                                <th>data do</th>
                                                <th>składka</th>
                                                <th>data</th>
                                            </tr>
                                            </thead>
                                            <!--mamy petle for each-->
                                            <!--&lt;!&ndash;p.id&ndash;&gt; bo w postmanie w json gostek ma pole o nazwie id i tak samo dla imienie i nazwiska-->
                                            <tbody>
                                            <!--String marka, String model, String numerVIN, String numerRejestracyjny, Date rokProdukcji, String rodzajNadwozia, int pojemnoscSilnika, int mocSilnika, String rodzajPaliwa-->
                                            <tr ng-repeat="c in policy |orderBy:'id'">

                                                <td>{{ c.id }}</td>
                                                <td>{{ c.numerPolisy }}</td>
                                                <td>{{ c.dataOd | date: "yyyy-MM-dd"}}</td>
                                                <td>{{ c.dataDo | date: "yyyy-MM-dd"}}</td>
                                                <td>{{ c.skladka}}</td>
                                                <td >{{c.data | date: "yyyy-MM-dd"}}</td>
                                                <td>
                                                    <button type="button"alt="{{c.id}}"  ng-click="deletePolicy(c.id)" class="btn btn-primary btn btn-danger"  data-toggle="modal"  >
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button"alt="{{c.id}}"  ng-click="showPolicy(c.id)" class="btn btn-primary btn btn-inf"  data-toggle="modal" data-target="#exampleModalLong" >
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>



                                    </div>

                                </div>


                            </div>





                            <h3>Dodaj Polise</h3>

                            <form>
                                <div class="form-group">
                                    <label>Data:</label>
                                    <input id="DataDodania" type="date" class="form-control" name="DataDodania" value=""
                                           placeholder="DataDodania" ng-model="DataDodania">
                                </div>
                                <div class="form-group">
                                    <label>Numer Polisy:</label>
                                    <input id="NumerPolisy" type="text" class="form-control" name="NumerPolisy" value=""
                                           placeholder="NumerPolisy" ng-model="NumerPolisy">
                                </div>
                                <div class="form-group">
                                    <label>data od:</label>
                                    <input id="DataOd" type="date" class="form-control" name="DataOd" value=""
                                           placeholder="DataOd" ng-model="DataOd">
                                </div>
                                <div class="form-group">
                                    <label>data do:</label>
                                    <input id="DataDo" type="date" class="form-control" name="DataDo" value=""
                                           placeholder="DataDo" ng-model="DataDo">
                                </div>

                                <div class="form-group">
                                    <label>Składka:</label>
                                    <input id="Skladka" type="number" class="form-control" name="Skladka" value=""
                                           placeholder="Skladka" ng-model="Skladka">
                                </div>

                                <button id="submitsave" type="submit" class="btn btn-default" ng-click="savePolicy()">Dodaj
                                    Polise
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-12">


                    </div>

                </div>
            </div>
        </div>


        <!-- Edycja auta -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edytuj</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label>Id:</label>
                                <input id="idAutoE" type="text" class="form-control" name="idAutoE" value="IdAutoE"
                                       placeholder="id" ng-model="idAutoE" >
                            </div>
                            <div class="form-group">
                                <label>Marka:</label>
                                <input id="MarkaE" type="text" class="form-control" name="MarkaE" value="MarkaE"
                                       placeholder="Marka" ng-model="markaE">
                            </div>
                            <div class="form-group">
                                <label>Model:</label>
                                <input id="ModelE" type="text" class="form-control" name="MarkaE" value="ModelE"
                                       placeholder="Model" ng-model="modelE">
                            </div>
                            <div class="form-group">
                                <label>Numer VIN:</label>
                                <input id="numerVinE" type="text" class="form-control" name="NumerVinE"
                                       value="numerVinE"
                                       placeholder="Numer VIN" ng-model="numerVinE">
                            </div>
                            <div class="form-group">
                                <label>Numer rejestracyjny:</label>
                                <input id="numerRejE" type="text" class="form-control" name="numerRejE"
                                       value="numerRejE"
                                       placeholder="Numer rejestracyjny" ng-model="numerRejE">
                            </div>

                            <div class="form-group">
                                <label>Rok produkcji:</label>
                                <input id="rokProE" type="date" class="form-control" name="rokProE"
                                       value="YYYY-MM-DD"
                                       placeholder="Rok produkcji " ng-model="rokProE ">

                                <!--<input id="rokProAuto" type="date" class="form-control" name="rokProAuto" value=""-->
                                <!--placeholder="Rok produkcji " ng-model="rokProAuto">-->
                            </div>
                            <div class="form-group">
                                <label>Rodzaj nadwozia:</label>
                                <input id="rodzNadwoziaE" type="text" class="form-control"
                                       name="rodzNadwoziaE"
                                       value="rodzNadwoziaE"
                                       placeholder="Rodzaj nadwozia" ng-model="rodzNadwoziaE">
                            </div>
                            <div class="form-group">
                                <label>Pojemność silnika:</label>

                                <input id="pojSilnikE" type="number" class="form-control" name="pojSilnikaE" value="pojSilnikaE"
                                       placeholder=" Pojemność silnika" ng-model="pojSilnikaE">

                            </div>
                            <div class="form-group">
                                <label>Moc silnika:</label>
                                <input id="mocAutoE" type="number" class="form-control" name="mocAutoE" value="mocAutoE"
                                       placeholder=" Moc silnika" ng-model="mocAutoE">
                            </div>
                            <div class="form-group">
                                <label>Rodzaj paliwa:</label>
                                <input id="rodzajPaliE" type="text" class="form-control" name="rodzajPaliE"
                                       value="rodzajPaliE"
                                       placeholder="Rodzaj Paliwa" ng-model="rodzajPaliE">


                            </div>

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-primary" ng-click="editCar()">Zapisz zmiany</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
