<div class="jumbotron about">
    <div>
        <div>
            <div class="exTab3">
                <form name="myForm" novalidate>
                    <div class="col-sm-offset-4 col-sm-4 tab-pane active ex2" id="rejestracja">
                        <div class="tab-content clearfix">
                            <div>
                                <div style="text-align: center" class="input-group col-ms-4">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="imie" type="text" class="form-control" name="imie" value="imie"
                                           required="required" placeholder="Imie" ng-model="firstNameOfUser"
                                           class="help-block" data-toggle="tooltip" data-placement="right"
                                           title=" Nazwa użytkownika musi być dłuższa nic 3 znaki!"
                                    >
                                </div>
                            </div>

                            <div>
                                <div class="input-group col-ms-4">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input id="email" type="email" name="email" ng-model="email" required
                                           value="email" class="form-control"
                                           placeholder="Email" data-toggle="tooltip"
                                           data-placement="right" title=" Email powinien zawiecać @">

                                </div>
                                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                    <span ng-show="myForm.email.$error.required">Email is required.</span>
                                    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                                    </span>
                            </div>

                            <div class="input-group col-ms-4" ng-init="passwordOfUser=''">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password"
                                       value="password"
                                       placeholder="Hasło" ng-model="passwordOfUser" data-toggle="tooltip"
                                       data-placement="right" title=" Hasło powinno być  dłuższe niż 5 znaków!">
                            </div>
                        </div>
                        <div class=" col-ms-4">
                            <button id="submit" type="submit"
                                    class="btn btn-block btn-default sendButton"
                                    ng-click="saveUser()">
                                Zarejestruj się
                            </button>
                            <div ng-if="error" class="alert alert-warning">
                                <strong>Warning!</strong>
                                <p id="demo"></p>
                            </div>
                        </div>

                    </div>
                </form>



            </div>
        </div>
    </div>


</div>
</div>
</div>

</br></br></br></br></br></br>


<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center" style=" margin-top: 100px; height: auto; margin-bottom: 300px">
    </br></br></br></br></br></br>
    <h2>SERVICES</h2>
    <h4>What we offer</h4>

    </br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-calendar logo-small"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone logo-small"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br> <br> <br> <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-sunglasses logo-small"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-shopping-cart logo-small"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>


</div>

